.results-tiles {
    width: 50%;
    min-height: 50px;
    transition: all 0.5s ease-in-out;
}

.tile {
    display: flex;
    flex-flow:  row nowrap;
    list-style: none;
    background-color: $colour--neutral-2;
    padding: 1%;
    margin: 1%;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    color: white;
    border-radius: 10px;

    & img {
        width: 22.5%;
        height: auto;
        fill: white;
        margin-left: -15px;
    }
}

.tile__data{
    list-style: none;
    box-sizing: border-box;
    width: 80%;
    font-size: 1.1em;
}

.tile__data__label {
    color: $colour--secondary;

    &--primary {
        font-size: 1.5em;
        color: $colour--accent;
        padding: 1%;
    }

    &--weather {
        font-size: 1.1em;
        color: $colour--secondary;
        padding: 1%;
    }

}

.results__group {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 2%;
    width: 70%;
}

.results__group * {
    margin: 5px;
}