.search-wrapper {
    width: 100%;
    height: auto;
}

.search-form {
    margin: 2%;
    display: flex;
    flex-flow: column;
}

.search-form__search-group {
    height: 50px;
    display: inline-block;
    padding: 1.5%;
}

.search-form__searchbar {
    width: 79%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 32px;
    font-family: $roboto;
    padding: 0;
  //  border: 1px $colour--neutral solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.search-form__search-bar__button{
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: none;
    margin: 0;
    padding: 0;
    background-color: $colour--primary;
    color: $colour--neutral;
    font-family: $slabo;
   // border: 1px $colour--accent solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);



    &:hover {
        cursor: pointer;
    }
}

.search-form__results {
    display: flex;
    align-content: center;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 1%;

    & h1 {
        font-family: $slabo;
    }
}

.search-form__radio-group {
    padding: 1%;

    & label {
        margin-left: 10px;
    }
}



.search-form__results__tiles {
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    margin: 2%;
}